<section class="index-page">
  <img class="avatar" src='{{image}}' />
    
  <a href="profile">profile</a>
  

  <h1>
    Hello {{username}}
  </h1>
   
  <button class="error">
    <a href="/auth/logout">Logout</a>
  </button>
</section>